<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138773432385-0m7e6g31ejo687rpuqmbdk69p2gt5omi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138773432385-0m7e6g31ejo687rpuqmbdk69p2gt5omi</string>
	<key>API_KEY</key>
	<string>AIzaSyDzEMTTFB3BDlFqG1-noR26_OUQ_zztEGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>138773432385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.iVlad.Sparky-Moments</string>
	<key>PROJECT_ID</key>
	<string>sparky-moments</string>
	<key>STORAGE_BUCKET</key>
	<string>sparky-moments.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138773432385:ios:2dcc9264f290ef8ffe1ec0</string>
	<key>DATABASE_URL</key>
	<string>https://sparky-moments-default-rtdb.firebaseio.com</string>
</dict>
</plist>